{% extends "baseuser.html.twig" %}

{% block body %}
	<div id="Ban">
		<div class="maintext">
			<h4>Mon compte</h4>
		</div>
	</div>

	<section class="d-flex justify-content-around">
		<div class="card mt-3 ms-5" style="width: 18rem;">
			<div class="card-body">
				<p class="title text-center">Mes commandes</p>
			</div>
			<div class="d-flex justify-content-center">
				<a class="img" href="#"><img class="card-img-top" src="{{ asset('image/pageUser/iconeCommande.png') }}"/></a>
			</div>
		</div>
		<div class="card mt-3 ms-5" style="width: 18rem;">
			<div class="card-body">
				<p class="title text-center">Mes moyens de paiement</p>
			</div>
			<div class="d-flex justify-content-center">
				<a class="img-a mb-2" href="#"><img class="card-img-top" src="{{ asset('image/pageUser/iconePaiement.png') }}"/></a>
			</div>
		</div>
	</section>
    
	<section class="d-flex justify-content-around">
		<div class="card mt-3 ms-5" style="width: 18rem;">
			<div class="card-body">
				<p class="title text-center">Mes informations personnelles</p>
			</div>
			<div class="d-flex justify-content-center">
				<a class="img-a" href="#"><img class="card-img-top" src="{{ asset('image/pageUser/iconeInfos.png') }}"/></a>
			</div>
		</div>
		<div class="card mt-3 ms-5" style="width: 18rem;">
			<div class="card-body">
				<p class="title text-center">Faire un commentaire</p>
			</div>
			<div class="d-flex justify-content-center">
				<a class="img-a" href="#"><img class="card-img-top" src="{{ asset('image/pageUser/iconeCommentaire.png') }}"/></a>
			</div>
		</div>
	</section>

{% endblock %}
