{% include "basepro.html.twig" %}

<div id="Ban">
	<div class="maintext">
		<h4>Nom du service</h4>
	</div>
</div>

<img src="https://mouillotins.fr/festival/wp-content/uploads/banniere-site-1.png" class="rounded mx-auto d-block w-50 p-5" alt="...">

<div id="blockds">
	<p style="width: 60%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dui elit, id tincidunt mauris tempor quis. Nulla tincidunt ultricies consequat. Donec gravida congue suscipit. Quisque sed lacus commodo, bibendum orci id, rhoncus augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut eu bibendum velit. Proin euismod ut est ac tempor.</p>
	<button style="width: 30%" type="button" class="btn btn-success">Demander un devis</button>
</div>


{% include "assets/footer.html.twig" %}
