 {% extends "base.html.twig" %}
 {% block body %}

 <div class="m-5 p-5">
            <div class="bt-content col-md-12">

                <h2>MENTIONS LÉGALES ET POLITIQUE DE TRAITEMENT DES DONNÉES</h2>
                
                <p>Nous vous invitons à lire attentivement les présentes conditions d’utilisation qui
                    régissent la navigation sur ce site. En utilisant le site vous acceptez sans réserve les présentes conditions
                    d’utilisation.</p>
                <p>Pour toute demande relative à votre utilisation du Site, vous pouvez nous contacter à l’adresse suivante :
                    contact@ecoservices.fr</p>
                <p>Vous pouvez accéder librement et gratuitement au site.</p>

                <h3>WWW.ecoservices.FR</h3>
                <p>Établissement d’enseignement supérieur privé</p>
                <p>Site édité par : EchoWeb</p>
                <p>Enregistré sous le n° SIRET 858 825 963 00024</p>
                <p>Dont le siège social est situé au 30, rue de Turbigo, 75003 Paris et
                    représenté par Ikrame Akalmous</p>
    
                <p>Contact : Courrier électronique : contact@echoweb.fr</p>
                <p>Numéro de téléphone : 0 420 69 1337</p>
                <p>Numéro de déclaration <a href="https://www.cnil.fr/professionnel">CNIL</a> :
                    déclaration en cours</p>
                <p>Directrice de la Publication : Ikrame Akalmous</p>
                <p>Éditeur : EcoServices</p>
                <p>Créateurs du site : Ikrame Akalmous, Prince Emmanuel Joseph, Alexis Vedrenne et Hugo Ducci</a></p>
                <h3><b>HÉBERGEMENT</b></h3>
                <p>Hébergeur du site : ?</p>
                <h3><b>DROIT D’AUTEUR – COPYRIGHT</b></h3>
                <p>Le présent site constitue une œuvre protégée par le droit d’auteur au sens de
                    l’article L.111-1 et suivants du Code la propriété intellectuelle.</p>
                <h3><b>LOGOS, MARQUES ET SIGLES</b></h3>
                <p>Tous les logos, marques ou sigles présents dans le site sont protégés par le code de
                    la propriété intellectuelle et ne peuvent être détachés du contenu du site sans autorisation préalable. Aucun
                    des logos, marques ou sigles de figurant sur le site ne peuvent être modifiés, transformés ou altérés
                    (proportions, couleurs, éléments, constituants).</p>
                <p>Ces logos, marques ou sigles ne peuvent être utilisés et/ou associés qu’aux seules
                    fins d’informations, et ne pourront apparaître dans des sites à caractère polémique, pornographique, xénophobe
                    ou pouvant porter atteinte dans un sens large à l’image des ayants droits du site <a href=" ">https://ecoservices.fr</a></p>
                <h3><b>REPRODUCTION SUR SUPPORT PAPIER</b></h3>
                <p>La reproduction des pages de ce site sur support papier est autorisée, sous les
                    conditions d’utilisations cumulées suivantes :</p>
                <ul>
                    <li>gratuité de la diffusion,</li>
                    <li>intégrité des documents reproduits respectée</li>
                </ul>
                <p>le nom du site <a href=" ">https://ecoservices.fr</a> doit
                    apparaître sur la reproduction émise</p>
                <h3><b>REPRODUCTION SUR SUPPORT ÉLECTRONIQUE</b></h3>
                <p>Ayant un but informationnel, la reproduction de tout ou partie de ce site sur un
                    support électronique est prohibée.</p>
                <h3><b>CRÉATION DE LIEN VERS </b><a href=" "><b>https://ecoservices.fr</b></a></h3>
                <p>La création de lien vers ce site (référencement hypertexte…) est autorisée sous
                    réserve :</p>
                <ul>
                    <li>de ne pas utiliser la technique du « lien profond » (« deeplinking »), c’est-à-dire que les pages du site ne
                        doivent pas apparaître en surimpression ou intégrer aux pages d’un autre site. Le lien vers le site <a href=" ">https://ecoservices.fr</a></li>
                    <li>de ne pas être référencé sur sites à caractère polémique, pornographique, xénophobe ou pouvant porter
                        atteinte dans un sens large à l’image de EcoServices ou de ses ayants-droits.</li>
                </ul>
                <p>Par ce site, EcoServices et ses ayants-droits souhaitent communiquer des
                    informations globales sur leurs services. </p>
                <p>Une attention toute particulière a été dédiée à la création de ce site. Cependant
                    les ayants-droits ne pourront être tenus pour responsable d’éventuelles erreurs ou oublis d’informations
                    accessibles ou d’informations dépassées dans le temps. De même, les ayants-droits ne peuvent assurer l’absence
                    de virus ou de tout autre élément pouvant entraîner le dysfonctionnement ou le dommage des liens et logiciels
                    par la navigation ou le téléchargement d’éventuels éléments sur ce site</p>
                <p>Ce site est totalement indépendant de tout autre site ou des ressources de
                    l’Internet avec lesquels il peut être lié par hyperlien ou par tout autre procédé technique. De ce fait, la
                    responsabilité de EcoServices ne pourra être engagée sur ce terrain.</p>
                <p>Les utilisateurs de ce site sont tenus, selon la réglementation en vigueur, de
                    s’abstenir de toute utilisation illicite, diffamatoire et/ou malveillante, de toute entrave ou tentative dans ce
                    but du bon fonctionnement et de l’intégrité du site (toute introduction frauduleuse de données, la suppression
                    ou la modification de toutes données sont interdites, et feront l’objet éventuel de recours en justice).</p>
                <p>Les messages ou toutes autres informations envoyés au site sont susceptibles d’être
                    interceptés par un tiers; dans un tel cas, EcoServices se déchargent de toute responsabilité. Pour nous
                    transmettre un message dans les meilleures conditions de sécurité, nous vous invitons à le faire par voie
                    postale.</p>
                <p>Le présent site est soumis au droit français.</p>
                <p>Les publications, articles et commentaires que l’on peut trouver au sein de la
                    rubrique blog reflètent uniquement l’avis de leurs auteurs et ne sauraient engager la responsabilité de
                    EcoServices.</p>
                <h3><b>PORTÉE DES DONNÉES PERSONNELLES</b></h3>
                <p>Les informations recueillies via ce site font l’objet d’un traitement informatique
                    destiné aux opérations de transaction, de transmission des informations et documentations sollicitées, et de
                    prospection pour des services analogues.</p>
                <p>Les informations collectées sont utilisées afin de fournir aux utilisateurs une
                    expérience en ligne des plus adaptés à leurs souhaits et leurs recherches.</p>
                <p>Conformément à la réglementation en vigueur, vous disposez d’un droit d’accès, de
                    rectification, de suppression et d’opposition de vos données personnelles. Vous pouvez demander la communication
                    de vos données personnelles. Vous pouvez également introduire une réclamation auprès de la CNIL. Vous pouvez
                    adresser vos demandes à contact@EcoServices.fr, ou par la poste : EcoServices, 30 rue de Turbigo, 75003 Paris.</p>
                <h3><b>CRÉDITS DES PHOTOS NON MENTIONNÉES</b></h3>
                <p>Crédit photos : EcoServices</p>
                <h3><b>ACCESSIBILITÉ DU SITE WWW.EcoServices.FR</b></h3>
                <p>EcoServices déclinent toute responsabilité en cas de difficulté d’accès à
                    son site ou d’interruptions dans la connexion.</p>
                <p>En cas d’omission, d’erreur ou d’inexactitude nous invitons l’utilisateur à nous
                    contacter par courriel à l’adresse suivante contact@EcoServices.fr</p>
                <p>En naviguant sur ce site ou l’une de ses pages, l’utilisateur reconnaît avoir eu la
                    possibilité de prendre connaissance et adhérer aux précisions énoncées ci-dessus.</p>
                <p>© 2022 – Tous droits réservés – EcoServices</p>


                <p></p>
                <img class="rounded mx-auto d-block" src="{{ asset('image/logoEcoService.svg') }}">
            </div>
        </div>
     {% endblock %}
    