{% extends "basepro.html.twig" %}

<div id="Ban">
	<div class="maintext">
		<h4>{{service.name}}</h4>
	</div>
</div>

<img src="https://mouillotins.fr/festival/wp-content/uploads/banniere-site-1.png" class="rounded mx-auto d-block w-50 p-5" alt="...">

<div id="blockds">
	<p style="width: 60%"></p>
	<button style="width: 30%" type="button" class="btn btn-success">Demander un devis</button>
</div>


{% include "assets/footer.html.twig" %}
