{% include "basepro.html.twig" %}

<div id="Ban">
	<div class="maintext">
		<h4>{{service.des}}</h4>
	</div>
</div>

<img src="{{ asset('uploads/' ~ service.image) }}" width="auto" height="auto" class="rounded mx-auto d-block w-50 p-5" alt="image service">

<div id="blockds">
	<p style="width: 60%">{{service.des}}</p>
	<a href="#">
		<button buttonstyle="width:30%" type="button" class="btn btn-success">
			faire un devis
		</button>
	</a>
</div>


{% include "assets/footer.html.twig" %}
