{% include "basepro.html.twig" %}

<div id="Ban">
	<div class="maintext">
		<h4>Nos services</h4>
	</div>
</div>

<div class="row mt-5">
	<div class="col">
		<div id="carProduit" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carProduit" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carProduit" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carProduit" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="container-fluid">
						<div class="row">
							<div class="col car-img">
								<a class="link-dark" href="#">
									<h2 class="text-center">Service
									</h2>
									<img src="https://mouillotins.fr/festival/wp-content/uploads/banniere-site-1.png" class="d-block w-100" alt="...">
									<div class="text-center">
										<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dui elit, id tincidunt mauris tempor quis. Nulla tincidunt ultricies consequat. Donec gravida congue suscipit. Quisque sed lacus commodo, bibendum orci id, rhoncus augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut eu bibendum velit. Proin euismod ut est ac tempor.
										</h5>
										<p>Un super produit !</p>
										<button type="button" class="btn btn-success">Voir détail</button>
									</div>
								</a>
							</div>
							<div class="col car-img">
								<a class="link-dark" href="#">
									<h2 class="text-center">Service
									</h2>
									<img src="https://mouillotins.fr/festival/wp-content/uploads/banniere-site-1.png" class="d-block w-100" alt="...">
									<div class="text-center">
										<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dui elit, id tincidunt mauris tempor quis. Nulla tincidunt ultricies consequat. Donec gravida congue suscipit. Quisque sed lacus commodo, bibendum orci id, rhoncus augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut eu bibendum velit. Proin euismod ut est ac tempor.
										</h5>
										<p>Un super produit !</p>
										<button type="button" class="btn btn-success">Voir détail</button>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="container-fluid">
						<div class="row">
							<div class="col car-img">
								<a class="link-dark" href="#">
									<h2 class="text-center">Service
									</h2>
									<img src="https://mouillotins.fr/festival/wp-content/uploads/banniere-site-1.png" class="d-block w-100" alt="...">
									<div class="text-center">
										<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dui elit, id tincidunt mauris tempor quis. Nulla tincidunt ultricies consequat. Donec gravida congue suscipit. Quisque sed lacus commodo, bibendum orci id, rhoncus augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut eu bibendum velit. Proin euismod ut est ac tempor.
										</h5>
										<p>Un super produit !</p>
										<button type="button" class="btn btn-success">Voir détail</button>
									</div>
								</a>
							</div>
							<div class="col car-img">
								<a class="link-dark" href="#">
									<h2 class="text-center">Service
									</h2>
									<img src="https://mouillotins.fr/festival/wp-content/uploads/banniere-site-1.png" class="d-block w-100" alt="...">
									<div class="text-center">
										<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit dui elit, id tincidunt mauris tempor quis. Nulla tincidunt ultricies consequat. Donec gravida congue suscipit. Quisque sed lacus commodo, bibendum orci id, rhoncus augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut eu bibendum velit. Proin euismod ut est ac tempor.
										</h5>
										<p>Un super produit !</p>
										<button type="button" class="btn btn-success">Voir détail</button>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carProduit" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carProduit" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
</div>


{% include "assets/footer.html.twig" %}
