{% extends "base.html.twig" %}

{% block body %}

    <div class ="bannierre"> 
        <h1 class="bannierre-titre"> Validation du code </h1>
    </div>
    
        {{ form_start(form) }}
        <div class="container mt-5 mb-5 bloc-form">
            <h4 class="text-center">Veuillez entrée le code que vous avez reçu par email :</h4>
            <h6 class="text-center">Pensez à regarder toute les catégories de votre boite mail<br>
            Parfois le mail peut se mettre ailleur (promotion,spam...)</h6>
            <br>
            <div class="row justify-content-md-center">
                <div class="ms-4 row justify-content-md-center">
                        
                        {{ form_widget(form.code) }}
                    
                </div> 
            </div>
            <br>
            <div class="conteneur aligne-centre">
                {{ form_widget(form.confirmer) }}
            </div>
        </div>
        {{ form_end(form) }}
    
{% endblock %}