<footer id="footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="text-center text-muted">
					<p class="title">A propos de nous</p>
					<p class="subtitle">
						Après 20 ans d’expérience, Eco-Services a souhaité se
																																																																														                        diversifier et proposer en plus de son activité principale,
																																																																														                        de la vente au particulier des produits écoresponsable
																																																																														                        jusqu’au zéro déchet.
					</p>
					<p>En en savoir plus ?
						<a href="{{ path('page_a_propos_de_nous') }}">Cliquez ici</a>
					</p>
				</div>
			</div>
			<div class="col">
				<div class="text-center text-muted">
					<p class="title">Mentions légales</p>
					<p class="subtitle">
						Après 20 ans d’expérience, Eco-Services a souhaité se
																																																																														                        diversifier et proposer en plus de son activité principale,
																																																																														                        de la vente au particulier des produits écoresponsable
																																																																														                        jusqu’au zéro déchet.
					</p>
					<p>En en savoir plus ?
						<a href="{{ path('mention_legales') }}">Cliquez ici</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
