<footer class="footer">
    <div class="columns">
        <div class="column">
            <div class="content has-text-centered">
                <p class="title">A propos de nous</p>
                <p class="subtitle">
                    Après 20 ans d’expérience, Eco-Services a souhaité se
                    diversifier et proposer en plus de son activité principale,
                    de la vente au particulier des produits écoresponsable
                    jusqu’au zéro déchet.
                </p>
                <p>En en savoir plus ? <a href="#">Cliquez ici</a></p>
            </div>
        </div>
        <hr>
        <div class="column">
            <div class="content has-text-centered">
                <p class="title">Mentions légales</p>
                <p class="subtitle">
                    Après 20 ans d’expérience, Eco-Services a souhaité se
                    diversifier et proposer en plus de son activité principale,
                    de la vente au particulier des produits écoresponsable
                    jusqu’au zéro déchet.
                </p>
                <p>En en savoir plus ? <a href="#">Cliquez ici</a></p>
            </div>
        </div>
  </div>
</footer>