<nav class="navbar nave navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">EcoServices</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<div class="container">
				<div class="d-flex justify-content-center align-items-center">
					<div class="input-group">
						<input type="text" class="form-control d-flex align-items-center" placeholder="Rechercher un produit..." aria-label="Rechercher un produit..." aria-describedby="button-addon2">
						<button class="btn btn-secondary d-flex align-items-center" type="button" id="button-addon2"><img src="{{ asset('bootstrap/icon/search.svg') }}"></button>
					</div>
	     <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><img class="acount-logo" src="{{ asset('bootstrap/icon/person-circle.svg') }}"</a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item">Mon compte</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Déconnexion</a>
                        </div>
                    </li>
                </ul>
					<a class="ms-1" type="button" href="#">
						<div class="cady">
							<img class="acount-logo" src="{{ asset('bootstrap/icon/basket3-fill.svg') }}" />
							<span class="mt-5 ms-2 position-absolute top-0 translate-middle badge rounded-pill bg-danger">
								5
							</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>
