{% include "baseerror.html.twig" %}

{% block body %}
    <h1>Oups une erreur vient de se produire....</h1>
            <div class="card-body d-flex justify-content-center">
                <img src="{{ asset('image/error/error.png') }}" class="card-img" alt="...">
            </div>                  
      <div class="col text-center">                         
    <p>
       <button type="button" class="btn btn-success">Retourner sur l'accueil</button>
    </p>
    </div>
{% endblock %}