{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <h1>Ajouter un commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentary.id }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ commentary.comment }}</td>
            </tr>
        </tbody>
    </table>

    
{% endblock %}
