{% extends "base.html.twig" %}

{% block body %}
	<div class="col text-center">
		<img src="{{ asset('image/cart/validateorder.png') }}" width="200" height="200" alt="">
		<h4>Merci pour votre commande !</h4>
		<h5>Votre commande arrivera très prochainement chez vous
		</h5>
		<a href="{{ path('particular') }}" class="btn btn-success">Retour a l'accueil</a>
	</div>

{% endblock %}
